@theme {
  --font-sans: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;

  --color-primary-lightest: #f9fdff;
  --color-primary-lighter: #ecf8ff;
  --color-primary-light: #91cff2;
  --color-primary: #7cc8f2;
  --color-primary-dark: #8294b2;
  --color-primary-darker: #304569;
  --color-primary-darkest: #002159;

  --color-secondary-lightest: #fffcfa;
  --color-secondary-lighter: #fff7f0;
  --color-secondary-light: #ffecdc;
  --color-secondary: #ff9533;
  --color-secondary-dark: #ff8a1e;

  --spacing-container: 1280px;

  --default-transition-duration: 300ms;

  --background-image-check: url("data:image/svg+xml;utf8,<svg fill='none' stroke='white' stroke-width='3' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M5 13l4 4L19 7'/></svg>");
}
